In [4]:
import numpy as np
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

train = pd.read_csv('data/train')
train_label = train.income_gt50K.map({0: False, 1: True})

test = pd.read_csv('data/test').tail(10)
test_label = test.income_gt50K.map({0: False, 1: True})

knn3 = KNeighborsClassifier(n_neighbors=3).fit(train, train_label)
knn5 = KNeighborsClassifier(n_neighbors=5).fit(train, train_label)
knn10 = KNeighborsClassifier(n_neighbors=10).fit(train, train_label)

knn3_prediction = knn3.predict(test)
knn5_prediction = knn5.predict(test)
knn10_prediction = knn10.predict(test)

test.head(10)

,Unnamed: 0,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_lte50K,income_gt50K,native-country_Holand-Netherlands
15050,15050,1,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15051,15051,1,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15052,15052,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15053,15053,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15054,15054,1,1,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
15055,15055,0,1,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15056,15056,1,1,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15057,15057,0,1,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15058,15058,1,0,1,1,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
15059,15059,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [8]:
test_label

15050    False
15051    False
15052    False
15053    False
15054    False
15055    False
15056    False
15057    False
15058    False
15059     True
Name: income_gt50K, dtype: bool

In [5]:
accuracy_score(test_label.values, knn3_prediction)

0.8

In [6]:
accuracy_score(test_label.values, knn5_prediction)

0.9

In [7]:
accuracy_score(test_label.values, knn10_prediction)

0.9